
<!DOCTYPE html>
<html lang="en">
    <%- include('./layout/css1.ejs') %>
	
<body class="menubar-left menubar-unfold menubar-light theme-primary">

<%- include('./layout/header.ejs') %>
<%- include('./layout/sidebar.ejs') %>

<main id="app-main" class="app-main">
    <div class="wrap">
        <section class="app-content">
            <div class="row">
                <div class="row">
                   <div class="row">
                     <div class="col-md-12">
                        <div class="widget">
                            <header class="widget-header">
                                <h4 class="widget-title">Patient Details</h4>
                            </header>
                            <hr class="widget-separator">
                            <div class="widget-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover js-basic-example dataTable table-custom">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>AppointmentDate</th>
                                                <th>Appointment Number</th>
                                                <th>Patient Name</th>
                                                <th>Message</th>
                                                <th>Status</th>
                                                <th>Remark</th>
                                            </tr>
                                        </thead>
                                    <tbody>
                                            <% sqlall.forEach(function(row,index) { %>
                                                <tr>
                                                    <td><%= index + 1 %></td>
                                                    <td><%= row.AppointmentDate %></td>
                                                    <td><%=row.AppointmentNumber%></td>
                                                    <td><%=row.Name%></td>
                                                    <td><%=row.Message%></td>
                                                    <td>
                                                        <% if (!row.Status) { %>
                                                          Pendding 
                                                        <% } else { %>
                                                          <%= row.Status %>
                                                        <% } %>
                                                      </td>
                                                      
                                                      <td><%=row.Remark%></td>
                                                </tr>
                                            <%})%>   
                
                                        </tbody>
                         
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
        </section>
    </div>
   
</main>


	<script src="/assets/libs/bower/jquery/dist/jquery.js"></script>
	<script src="/assets/libs/bower/jquery-ui/jquery-ui.min.js"></script>
	<script src="/assets/libs/bower/jQuery-Storage-API/jquery.storageapi.min.js"></script>
	<script src="/assets/libs/bower/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
	<script src="/assets/libs/bower/jquery-slimscroll/jquery.slimscroll.js"></script>
	<script src="/assets/libs/bower/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
	<script src="/assets/libs/bower/PACE/pace.min.js"></script>



	<script src="/assets/js/library.js"></script>
	<script src="/assets/js/plugins.js"></script>
	<script src="/assets/js/app.js"></script>

	<script src="/assets/libs/bower/moment/moment.js"></script>
	<script src="/assets/libs/bower/fullcalendar/dist/fullcalendar.min.js"></script>
	<script src="/assets/js/fullcalendar.js"></script>
</body>
</html>
